<div id="SOHUCS" sid="<%= post.name %><%= post.time.day %><%= post.title %>"></div>
<script charset="utf-8" type="text/javascript" src="//changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
	window.changyan.api.config({
		appid: 'cys0nLqrf',
		conf: 'prod_ca2c02a739ae8fb4d07e2bbc5dcf5a9f'
	});
</script>