<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Blog</title>
	<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<% if (pvs) { %>
	<link rel="stylesheet" href="/stylesheets/pv.css">
	<% } %>
	<!-- <link rel="stylesheet" href="/stylesheets/calendar.css">
	 window.onload = function(){
			var date = new Date();
			document.getElementById("year").innerHTML=date.getFullYear();
			var month;
			switch(date.getMonth()){
				case 0:month="January";break;
				case 1:month="February";break;
				case 2:month="March";break;
				case 3:month="April";break;
				case 4:month="May";break;
				case 5:month="June";break;
				case 6:month="July";break;
				case 7:month="August";break;
				case 8:month="September";break;
				case 9:month="October";break;
				case 10:month="November";break;
				case 11:month="December";
			}
			document.getElementById("month").innerHTML=month;
			document.getElementById("day").innerHTML=date.getDate();
	}; -->
</head>
<body style="background-color: rgb(233, 234, 236);">
<header>
<h1><%= title %></h1>
</header>
<nav class="navl">
	<span><a title="主页" href="/">home</a></span>
	<span><a title="存档" href="/archive">archive</a></span>
	<span><a title="标签" href="/tags">tags</a></span>
	<span><a title="友情链接" href="/links">links</a></span>
	<% if (user) {%>
	<span><a title="上传" href="/upload">upload</a></span>
	<span><a title="发表" href="/post">post</a></span>
	<span><a title="登出" href="/logout">logout</a></span>
	<% } else { %>
	<span><a title="登陆" href="/login">login</a></span>
	<span><a title="关于我" href="/aboutme">aboutme</a></span>
	<% if (1 == 2) {%>
	<span><a title="注册" href="/reg">register</a></span>
	<% } %>
	<% } %>
	<span><form action="/search" method="GET"><input type="text" name="keyword" placeholder="SEARCH" class="search" /></form></span>
</nav>
<nav class="navr">
	<embed width="185px" height="50px" wmode="transparent" quality="high" type="application/x-shockwave-flash" src="/flash/time.swf">
	<br/>
	<% if (pvs) { %>
	<script src="//cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<p id="pv" class="" data-toggle="tooltip" data-placement="left" title="一颗躁动的心">您是本站的第 <span class="color_shine"><%= pvs %></span> 位访客</p>
	<script type="text/javascript">
	$("#pv").on("click", function() {
		if($("#pv").hasClass("pv")) {
			$("#pv").removeClass("pv");
			$("#pv").attr("data-original-title","一颗躁动的心");
		}else {
			$("#pv").addClass("pv");
			$("#pv").attr("data-original-title","平静一下吧！");
		}
	});
	$("[data-toggle='tooltip']").tooltip();
	</script>
	<% } %>
</nav>
<article>
	<% if (success) { %>
	<div><%= success %></div>
	<% } %>
	<% if (error) {%>
	<div><%= error %></div>
	<% } %>